<template>

  <GChart
    type="combo"
    :data="chartData"
    :options="chartOptions"
    :create-chart="createChart"
  />
</template>

<script>
  import {GChart} from "vue-google-charts"
  import axios from "axios"

  export default {
    components: {
      GChart
    },
    props: {
      stockData: Object,
    },

    computed: {
      chartData() {
        return [
          ["date", "株価"/*高値*/, "始値", "終値", "安値"],
          ...this.stockData.candle,
        ];
      },
      chartOptions() {
        return {
          title: this.stockData.code + ' ' + this.stockData.name,
          subtitle: "Sales",
          seriesType: "candlesticks",
          height: 400,
        };
      },
    },

    data() {
      return {

      }
    },
    methods: {
      createChart(el, google, type) {
        return new google.visualization.ComboChart(el);
      }
    }
  }
</script>

<style></style>
