<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6" v-for="stockData in stocksData">
        <chart :stockData="stockData"></chart>
      </div>
    </div>

  </div>
</template>

<script>
  import {GChart} from "vue-google-charts"
  import axios from "axios"

  import Chart from '~/components/Chart.vue'

  export default {
    components: {
      Chart,
      GChart
    },


    async asyncData({params}) {
      let stockInfoUrl = 'http://127.0.0.1:3000/stock/info/';
      let stockInfo = (await axios.get(stockInfoUrl)).data;

      let sliced = stockInfo.slice(0, 10);

      let promised = sliced.map(async stock => {
        let url = createCandleUrl(stock.id);
        let candle = (await axios.get(url)).data;

        return {
          ...stock,
          candle,
        };
      });
      let stocksData = await Promise.all(promised);


      return {
        stocksData,
      };
    },
    methods: {},
  };


  export function createCandleUrl(id) {
    return 'http://127.0.0.1:3000/stock/candle/?stock_info=' + id + '&date_gte=2019-03-01';
  }
</script>

<style></style>
